
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
    
<% if flash[:errors] %>
    <div class="errors">
        <h4>Oops!</h4>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
    </div>
<% end %>
<% if flash[:notice] %>
    <h1><%= flash[:notice] %></h1>
<% end %>

<h1>Log in</h2>

<%= form_tag sessions_path do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Log In!"%>
<% end %>
<br>

Don't have an account? 
<a href="/signup">Sign Up</a>

<div class="columns">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
  <div class="column">5</div>
</div>
    </body>
</html>