<!DOCTYPE html>
<html>
  <head>
    <title>ShoutR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= link_to "Show all shouts", shouts_path %>
    <%= yield %>
  </body>
</html>
